@import url('https://www.cssfontstack.com/Rockwell');

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #caf0f8;
    margin: 25px;
    padding: 15px;
}

body { 
	font-family: 'Rockwell',Courier Bold,Courier,Georgia,Times,'Times New Roman',serif; 
    background-color: navy;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: lightcyan;
}
.logo {
    max-width: 7em;
    margin-left: 5px;
    padding-bottom: 15px;
    justify-self: center;
    align-self: center;
    border-radius: 4px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    margin: 5px;
    max-height: 10em;
}
.icon {
    width: 50px;
    padding: 5px;
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: center;
    align-self:center;
}
header h1 {
    display: grid;
    grid-template-columns: inherit;
    max-height: 1.5em;
}
.company {
    background-color: darkblue;
    color:whitesmoke;
    font-size: 200%;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: flex-start;
    text-decoration: none;
    margin: -10px 0px;
    padding: 15px;
    border-radius: 8px;
}
.home {
    grid-row: 1/2;
    grid-column: 3/5;
    background-color: skyblue;
    max-height: 3em;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    color: darkblue;
    font-size: x-large;
    justify-self: center;
    align-self: center;
    padding: 5px 15px 10px 15px;
}
.facts_faqs {
    grid-row: 2/3;
    grid-column: 3/5;
    background-color: skyblue;
    max-height: 3em;
    text-decoration: none;
    text-align: center;
    color: darkblue;
    font-size: x-large;
    justify-self: center;
    align-self: center;
    padding: 5px 15px 10px 15px;
}
.plans_price {
    grid-area: 1 / 5 / 2 / 7;
    background-color: skyblue;
    max-height: 3em;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    color: darkblue;
    font-size: x-large;
    justify-self: center;
    align-self: center;
    padding: 5px 15px 10px 15px;
}
.meet_team {
    grid-area: 2 / 5 / 3 / 7;
    background-color: skyblue;
    max-height: 3em;
    text-decoration: none;
    text-align: center;
    color: darkblue;
    font-size: x-large;
    justify-self: center;
    align-self: center;
    padding: 5px 15px 10px 15px;
}
.search {
    grid-area: 2 / 1 / 3 / 3;
    background-color: whitesmoke;
    max-height: 3em;
    margin: 5px 100px 2px 5px;
    padding: 5px 5px;
    font-size: large;
    align-self: flex-end;
}
#search {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 3em;
    width: fit-content;
    margin: 5px;
    justify-self: center;
    cursor: pointer;
    font-size: medium;
    align-self: flex-end;
}
.log_in {
    grid-area: 1 / 7 / 2 / 8;
    max-height: 3em;
    font-size: 50%;
    text-align: end;
    align-self: flex-end;
    color: black;
    font-size: small;
}
.create_account {
    grid-area: 2 / 7 / 3 / 8;
    max-height: 3em;
    font-size: 50%;
    text-align: end;
    color: black;
    font-size: small;
}
#profile_img {
    max-width: fit-content;
    grid-column: 8/9;
    grid-row: 1/3;
    max-height: 3em;
    margin: 60px 10px auto;
    justify-self: flex-start; /* put img at beginning of columns */
    align-self: center; /* put img in middle of rows */
    color: darkblue;
}


#home_text {
    grid-column: auto;
    z-index: 1;
}
#home_icon {
    grid-row: 2/3;
    z-index: 0;
}

/**/
/* How TO - Slideshow/Carousel */
/**/

* {box-sizing:border-box}

/* Slideshow container */
.scroll {
    /*  grid-column: 1 / -1;  */
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default
.mySlides {
  display: none;
}
*/

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**/
/*    Flip Card    */
/**/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    max-width: 1/-1;
    height: 350px;
    border: 5px solid #0a0a0a;
    padding: 25px 33px 50px 33px;
    margin: 25px 25px 50px 25px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
    
    /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(540deg);
}
    
    /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
    
    /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: indigo;
    color: black;
}
    
    /* Style the back side */
.flip-card-back {
    background-color: darkblue;
    color: white;
    transform: rotateY(180deg);
}



.basic_home {
    grid-column: 2/5;
}
.prem_home {
    grid-column: 5/8;
}
.basic_corp {
    grid-column: 2/5;
}
.prem_corp {
    grid-column: 5/8;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.foot1 .foot2 {
    display: grid;
    grid-template-columns: inherit;
}
.social {
    display: grid;
    grid-column: 6 / 9;
    grid-row: 1;
    padding: 5px 50px;
    margin: 15px;
}
.facebook {
    grid-column: 6 / 7;
}
.insta {
    grid-column: 7 / 8;
}
.twitter {
    grid-column: 8 / 9;
}
.contact {
    grid-column: 3 / 4;
    grid-row: 1;
}
.ppwire {
    grid-column: 3/4;
    grid-row: 2;
    max-height: 100px;
    cursor: pointer;
}
/*
footer h3 {
    grid-column: 4 / 5;
    grid-row: 1;
}
*/
footer h4 {
    grid-column: 4 / 5;
    grid-row: 1;
}
.copyright {
    display: grid;
    grid-column: 5 / 6;
}
