@import url('https://www.cssfontstack.com/Rockwell');

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #caf0f8;
    margin: 25px;
    padding: 15px;
}

body { 
	font-family: 'Rockwell',Courier Bold,Courier,Georgia,Times,'Times New Roman',serif; 
    background-color: navy;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    max-width: 5em;
}

/**/
/*    Flip Card    */
/**/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    padding: 25px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
    
    /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(540deg);
}
    
    /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
    
    /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
    
    /* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}



.basic_home {
    grid-column: 1/4;
}
.prem_home {
    grid-column: 4/7;
}
.basic_corp {
    grid-column: 1/4;
}
.prem_corp {
    grid-column: 4/7;
}